# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Node / Hardhat
node_modules/
cache/
artifacts/
typechain/

# Build outputs
dist/
build/

# OS
.DS_Store
*.log

# IDE / Editors
.vscode/
*.swp
